<h1> <a href="/users/home">Home</a> || <a href="/users/logout">Log Out, <%= current_user.username %></a> </h1>

<h2></h2>
<% if flash[:message] %>
  <h2> <%= flash[:message] %> </h2>
  <h2></h2>
<% end %>

<h2>Edit Seller:</h2>

<form class="" action="/sellers/<%= @seller.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <h3> Seller's Name: <input type="text" name="seller[seller_name]" value="<%= @seller.seller_name %>"> </h3>


  <% if @seller.start_date %>
      <h3> Seller's Start Date (optional): </h3>
        <h4> Month (1 - 12): <input type="text" name="start_date[month]" value="<%= @seller.month_to_s%>"> </h4>
        <h4> Day (1 - 31): <input type="text" name="start_date[day]" value="<%= @seller.day_to_s%>"> </h4>
        <h4> Year: <input type="text" name="start_date[year]" value="<%= @seller.year_to_s%>"> </h4>
  <% else %>
      <h3> Seller's Start Date (optional): </h3>
        <h4> Month (1 - 12): <input type="text" name="start_date[month]" value=""> </h4>
        <h4> Day (1 - 31): <input type="text" name="start_date[day]" value=""> </h4>
        <h4> Year: <input type="text" name="start_date[year]" value=""> </h4>
  <% end %>

  <input type="submit" name="" value="Edit Seller">

</form>

<form class="" action="/sellers/<%= @seller.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">

  <input type="submit" name="" value="Delete Seller">
</form>
