  <h1>Welcome to your home page, <%= current_user.username %>. (<a href="/users/logout">Log Out</a>) </h1>
  <h2></h2>

  <% if flash[:message] %>
    <h2> <%= flash[:message] %> </h2>
    <h2></h2>
  <% end %>



  <h2>Below are your Sellers. <a href="/sellers/new">Add a Seller here.</a>  </h2>

      <table>
        <tr>
          <th> Name </th>
          <th> Start Date </th>
          <th> Edit Link </th>
        </tr>

        <% current_user.sellers.all.each do |seller| %>
          <tr>
              <td> <a href="/sellers/<%= seller.id %>"> <%= seller.seller_name %> </a> </td>
              <td> <%= seller.readable_start_date %> </td>
              <td> <a href="/sellers/<%= seller.id %>/edit">Edit</a> </td>
          </tr>
        <% end %>

      </table>


  <h2></h2>

  <h2>Below are your Product Lines.  <a href="/product_lines/new">Add a Product Line here.</a> </h2>

      <table>

        <tr>
          <th> Name </th>
          <th> Inventory Available </th>
          <th> Edit or Add Inventory </th>
        </tr>

        <% current_user.product_lines.all.each do |product_line| %>
          <tr>
              <td> <a href="/product_lines/<%= product_line.id %>"> <%= product_line.product_name %> </a> </td>
              <td> <%= product_line.inventory_available %> </td>
              <td> <a href="/product_lines/<%= product_line.id %>/edit">Edit/Add Inventory</a> </td>
          </tr>

        <% end %>

      </table>

  <h2></h2>

  <h2>Below are other Product Lines from other Users. </h2>

      <table>

        <tr>
          <th> Name </th>
          <th> Inventory Available </th>
          <th> Entered By </th>
        </tr>

        <% ProductLine.all.each do |product_line| %>
          <% if product_line.user != current_user %>
            <tr>
                <td> <a href="/product_lines/<%= product_line.id %>"> <%= product_line.product_name %> </a> </td>
                <td> <%= product_line.inventory_available %> </td>
                <td> <%= product_line.user.username %> </td>
            </tr>
          <% end %>
        <% end %>

      </table>


  <h2></h2>

  <h2>  Below are other Sellers </h2>

      <table>
        <tr>
          <th> Name </th>
          <th> Start Date </th>
          <th> Entered By </th>
        </tr>

        <% Seller.all.each do |seller| %>
          <% if seller.user != current_user %>
            <tr>
                <td> <a href="/sellers/<%= seller.id %>"> <%= seller.seller_name %> </a> </td>
                <td> <%= seller.readable_start_date %> </td>
                <td> <%= seller.user.username %> </td>
            </tr>
          <% end %>
        <% end %>

      </table>
