
<h1> <a href="/users/home">Home</a> || <a href="/users/logout">Log Out, <%= current_user.username %></a> </h1>
<h2></h2>

    <% if flash[:message] %>
      <h3> <%= flash[:message] %> </h3>
      <h2></h2>
    <% end %>

<h2>Delete the Product Line:</h2>

<form class="" action="/product_lines/<%= @product_line.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">

  <input type="submit" name="" value="Delete Product Line">
</form>

<h2></h2>

<h2>Edit the Product Line:</h2>

<form class="" action="/product_lines/<%= @product_line.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <h3> Product Name: <input type="text" name="product_line[product_name]" value="<%= @product_line.product_name %>"> </h3>
  <h3> Product Description (optional): <input type="text" name="product_line[description]" value="<%= @product_line.description %>"> </h3>
  <h3> Current Inventory Available: <%= @product_line.inventory_available %> </h3>
  <h3> Add More Inventory (optional): <input type="text" name="inventory" value=""> </h3>

  <input type="submit" name="" value="Update Product Line ">

</form>

<h2></h2>

<h2>Edit the Inventory:</h2>

<table>
  <tr>
    <th> Item ID # </th>
    <th> Sold </th>
    <th> Seller </th>
    <th> Update </th>
    <th> Delete </th>
  </tr>


  <!-- Beginning of Form to Edit Inventory. Basically, for each row with an inventory item, there are two forms: one to edit an inventory item and one to delete the inventory item -->

  <% @product_line.inventory_items.each do |item| %>

  <form class="" action="/inventory_items/<%= item.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">

    <tr>

      <!-- First column -->

      <td> <%= item.id %> </td>

      <!-- Second column -->
      <td>
        <input type="radio" name="inventory_item[sold]" value="true" <%='checked' if item.sold == true %> >Yes</input>
        <input type="radio" name="inventory_item[sold]" value="false" <%='checked' if item.sold == false %> >No</input>
      </td>

      <!-- Third column -->
      <td>
        <select class="" name="inventory_item[seller_id]">

          <% item.user.sellers.all.each do |seller| %>
            <option value="<%= seller.id %>" <%= 'selected' if item.seller == seller %> > <%= seller.seller_name %> </option>
          <% end %>

        </select>
      </td>

      <!-- Fourth column -->
      <td>  <input type="submit" name="" value="Update"> </td>


    </form>

      <!-- Fifth column -->
      <td>
         <form class="" action="/inventory_items/<%= item.id %>/delete" method="post">
           <input id="hidden" type="hidden" name="_method" value="delete">

           <input id="inv_delete" type="submit" name="" value="Delete">
         </form>
      </td>

    </tr>

  <% end %>

</table>
