<h1> <a href="/users/home">Home</a> || <a href="/users/logout">Log Out, <%= current_user.username %></a> </h1>
<h2></h2>

<% if flash[:message] %>
  <h3> <%= flash[:message] %> </h3>
  <h2></h2>
<% end %>

<h1> Product Line Name: <%= @product_line.product_name %>

<h2></h2>
<h2><a href="/product_lines/<%= @product_line.id %>/edit">Edit Product Line or Inventory</a></h2>
<h2> Description: <%= @product_line.description %> </h2>
<h2> Inventory Available: <%= @product_line.inventory_available %> </h2>
<h2> Total Inventory Created Since Inception: <%= @product_line.inventory_items.all.count %> </h2>

<table>
  <tr>
    <th> Item ID # </th>
    <th> Sold </th>
    <th>Seller</th>
  </tr>

  <% @product_line.inventory_items.all.each do |item| %>
    <tr>

      <td> <%= item.id %> </td>

      <% if item.sold == true %>
        <td>Yes</td>
      <% else %>
        <td> No </td>
      <% end %>

      <% if item.seller %>
        <td> <%= item.seller.seller_name %> </td>
      <% else %>
        <td> </td>
      <% end %>

    </tr>
  <% end %>
</table>
